<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.odyssey2</string>
	<key>PVPrincipleClass</key>
	<string>OdysseyGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.odyssey2</string>
	</array>
	<key>PVProjectName</key>
	<string>O2EM</string>
	<key>PVProjectURL</key>
	<string>https://github.com/OpenEmu/O2EM-Core</string>
	<key>PVProjectVersion</key>
	<string>1.18.1</string>
	<key>PVDisabled</key>
	<false/>
</dict>
</plist>
